*{
	margin:0;
	padding: 0;
}
.form-group{
	position: relative;
	top:60pt;
	left:200pt;

}
.form-group label{
	padding: 10px;
}
.form-group p,h4{
	padding: 10px;
}

body{
	font-family: comic sans ms;
}