*{
	margin:0;
	padding: 0;
}
body{
	font-family: comic sans ms;
}
.drop-menu{

}
.drop-menu ul{
   
   list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: ##009933;
}
.drop-menu li{
    float: left;
}
.drop-menu li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.drop-menu li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}
 .drop-menu li.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.mainmenu{
           background:#00b359;
           min-height:55px

           }

.mainmenu ul{ 
             margin : 0;
             padding:0;
             list-style:none
            }

.mainmenu ul li{

              float:left;
              border-left:1px solid #34B9BB;
               border-right:1px solid #1B5D46;
               position:relative
             }

.mainmenu ul li:first-child{

                    border-left:0px solid;
                  }

.mainmenu ul li:last-child{

             border-right:0px solid;
           }

.mainmenu ul li a{

                 color:#fff;
                 display:block;
                 padding:15px;
                 text-decoration: none
               }

.mainmenu ul li a:hover{

             background:red;

           }

.mainmenu ul li ul{

                position :absolute;
                 left:-99999px;
               }

.mainmenu ul li:hover ul{

                        left:0px
                      }

.mainmenu ul li ul{ 

                background:#009933;
              }

.mainmenu ul li ul li{

                      float:none;
                      width:250px;
                      border-bottom:1px solid #ddd;
                      border-right:0px solid;
                       border-left:0px solid
                     }

.mainmenu ul li ul li:last-child{

                             border-botton:0px solid #ddd;

                              }

mainmenu ul li ul li a{

                        background:# ;
                        color:#ddd ;
                        padding 5px 5px
                      }
.mainmenu ul li ul li a:hover{}
.second-part{
	position: relative;
	top:170px;
}
.col-md-email label{
	position: relative;
	top:10pt;
}
.footer-last{
	position: relative;
	top:220pt;
	text-align: center;
	background-color: black;
	color: #fff;
	padding: 30pt;
	font-size: 30px;
}